@charset "UTF-8";

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Black.woff2") format("woff2"), url("../fonts/Gilroy-Black.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BlackItalic.woff2") format("woff2"), url("../fonts/Gilroy-BlackItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Bold.woff2") format("woff2"), url("../fonts/Gilroy-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-BoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-BoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-HeavyItalic.woff2") format("woff2"), url("../fonts/Gilroy-HeavyItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Heavy.woff2") format("woff2"), url("../fonts/Gilroy-Heavy.woff") format("woff");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"), url("../fonts/Gilroy-ExtraBold.woff") format("woff");
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-LightItalic.woff2") format("woff2"), url("../fonts/Gilroy-LightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Medium.woff2") format("woff2"), url("../fonts/Gilroy-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"), url("../fonts/Gilroy-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-MediumItalic.woff2") format("woff2"), url("../fonts/Gilroy-MediumItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Regular.woff2") format("woff2"), url("../fonts/Gilroy-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-RegularItalic.woff2") format("woff2"), url("../fonts/Gilroy-RegularItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBold.woff2") format("woff2"), url("../fonts/Gilroy-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-SemiBoldItalic.woff2") format("woff2"), url("../fonts/Gilroy-SemiBoldItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-Thin.woff2") format("woff2"), url("../fonts/Gilroy-Thin.woff") format("woff");
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-ThinItalic.woff2") format("woff2"), url("../fonts/Gilroy-ThinItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLight.woff2") format("woff2"), url("../fonts/Gilroy-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: Gilroy;
  font-display: swap;
  src: url("../fonts/Gilroy-UltraLightItalic.woff2") format("woff2"), url("../fonts/Gilroy-UltraLightItalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

:root {
  --black-p: #111113;
  --black-s: #0c0c0f;
  --white-p: #ffffff;
  --white-s: #cccccc;
  --yellow-one: #ffff00;
  --filter: brightness(1%);
  --bd-color: #434343;
}

.darkmode {
  --black-p: #ffffff;
  --black-s: #e5e5e5;
  --white-p: #111113;
  --white-s: #333333;
  --yellow-one: #111113;
  --filter: normal;
  --bd-color: #c3c3c3;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
  scroll-padding-top: 70px;
}

body {
  color: var(--white-p);
  background: var(--black-p);
  font-weight: 500;
  line-height: 1;
  font-family: "Gilroy";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Gilroy";
  font-size: inherit;
  line-height: inherit;
}

input,
textarea,
button,
select,
a,
li,
div {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

body {
  background: var(--black-s);
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

@supports (overflow: clip) {
  .wrapper {
    overflow: clip;
  }
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-top: 70px;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стилі будуть застосовуватись до
всіх класів, що містять *__container
Наприклад header__container, main__container і т.п.
Сніппет (HTML): cnt
*/

[class*=__container] {
  max-width: 78.125rem;
  margin: 0 auto;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.title {
  font-weight: 800;
  font-size: 30px;
}

.text {
  font-weight: 600;
}

.item__img.png img {
  padding: 8px;
}

.item__img.border {
  border-radius: none;
  background: none;
}

.item__img.border img {
  border: 1px solid var(--bd-color);
}

.item__img.daniel {
  background: var(--yellow-one);
}

.item__img.daniel img {
  -webkit-filter: var(--filter);
          filter: var(--filter);
}

::-webkit-scrollbar {
  background-color: var(--black-p);
  width: 16px;
}

::-webkit-scrollbar-track {
  background-color: var(--black-s);
}

::-webkit-scrollbar-thumb {
  background-color: #a0a0a5;
  border-radius: 16px;
  border: 4px solid var(--black-s);
}

::-webkit-scrollbar-thumb:hover {
  background-color: #76767a;
}

::-webkit-scrollbar-thumb:active {
  background-color: var(--white-s);
}

::-webkit-scrollbar-button {
  display: none;
}

::-moz-selection {
  color: var(--black-p);
  background: var(--white-p);
}

::selection {
  color: var(--black-p);
  background: var(--white-p);
}

.header {
  padding: 10px;
  height: 80px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 10px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
}

.header__container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  border: 1px solid var(--bd-color);
  border-radius: 60px;
  z-index: 5;
  background: var(--black-p);
}

.header__logo {
  height: 40px;
  position: relative;
  min-width: 40px;
  border-radius: 40px;
  background: var(--yellow-one);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  z-index: 5;
}

.header__logo:hover {
  min-width: 80px;
  margin-right: -40px;
}

.header__logo:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header__logo img {
  position: absolute;
  top: 0;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20px;
  margin: 10px 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: var(--filter);
          filter: var(--filter);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header__img-1 {
  visibility: hidden;
  opacity: 0;
  left: 50%;
}

.header__logo:hover .header__img-1 {
  visibility: visible;
  opacity: 1;
}

.header__img-2 {
  left: 46%;
  visibility: visible;
  opacity: 1;
}

.header__logo:hover .header__img-2 {
  visibility: hidden;
  opacity: 0;
}

.menu {
  position: relative;
  background: var(--white-p);
  border-radius: 40px;
  z-index: 6;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu__link {
  padding: 10px 20px;
  height: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 700;
  line-height: 1;
  color: var(--black-p);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu__link:hover {
  color: var(--white-p);
  background: var(--black-p);
  letter-spacing: 1px;
}

.menu__link:active {
  letter-spacing: normal;
}

.header-contacts {
  z-index: 5;
}

.header-contacts__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-contacts__link {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.header-contacts__link::after {
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 50px;
  position: absolute;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  z-index: -1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: #000;
}

.header-contacts__link:hover::after {
  height: 40px;
  width: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-contacts__link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.header-contacts__link-one::after {
  background: -o-radial-gradient(30% 110%, circle, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
  background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
  opacity: 0;
}

.header-contacts__link-one:hover::after {
  opacity: 1;
}

.header-contacts__link-two::after {
  background: #6fda44;
  opacity: 0;
}

.header-contacts__link-two:hover::after {
  opacity: 1;
}

.header-contacts__link svg {
  pointer-events: none;
  color: var(--white-p);
  height: 25px;
  width: 25px;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header-contacts__link:hover svg {
  color: var(--black-p);
}

.menu__mode {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50px;
  cursor: pointer;
  background: var(--white-p);
  position: relative;
}

.menu__mode:hover .menu__dark-icon {
  -webkit-transform: rotate(-25deg);
      -ms-transform: rotate(-25deg);
          transform: rotate(-25deg);
}

.menu__mode:active .menu__dark-icon {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.menu__dark-icon {
  pointer-events: none;
  color: var(--black-p);
  height: 25px;
  width: 25px;
  position: absolute;
  top: 7.5px;
  left: 7.5px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.menu__dark-icon-one {
  opacity: 1;
}

.menu__dark-icon-two {
  opacity: 0;
}

body.darkmode .menu__dark-icon-one {
  opacity: 0;
}

body.darkmode .menu__dark-icon-two {
  opacity: 1;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 10px;
}

.footer__body {
  padding: 10px;
  border: 1px solid var(--bd-color);
  background: var(--black-p);
  border-radius: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.footer__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer__logo {
  height: 40px;
  position: relative;
  min-width: 80px;
  border-radius: 40px;
  background: var(--yellow-one);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
  z-index: 5;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.footer__logo:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.footer__logo img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 20px;
  margin: 10px 0;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-filter: var(--filter);
          filter: var(--filter);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__networks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 5;
}

.footer__network {
  height: 40px;
  width: 40px;
  margin-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  background: transparent;
  position: relative;
}

.footer__network::after {
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50px;
  position: absolute;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  z-index: -2;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__network::before {
  content: "";
  height: 40px;
  width: 40px;
  border-radius: 50px;
  position: absolute;
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  z-index: -1;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  background: var(--white-p);
}

.footer__network:hover:before {
  opacity: 0;
}

.footer__network:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.footer__network svg {
  color: var(--black-s);
}

.footer__wrapper-links {
  border-radius: 30px;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__title {
  padding: 0 10px;
  font-weight: 600;
}

.footer__links {
  height: 40px;
  background: var(--white-p);
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer__link {
  padding: 10px 20px;
  height: 40px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  font-weight: 700;
  line-height: 1;
  color: var(--black-p);
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__link:hover {
  color: var(--white-p);
  background: var(--black-p);
  letter-spacing: 1px;
}

.footer__link:active {
  letter-spacing: normal;
}

.footer__copy-right {
  border: 1px solid var(--bd-color);
  border-radius: 20px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  color: var(--white-s);
}

.footer__network:nth-child(1)::after {
  background: -o-radial-gradient(30% 110%, circle, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
  background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
}

.footer__network:nth-child(2)::after {
  background: #6fda44;
}

.footer__network:nth-child(3)::after {
  background: conic-gradient(#4285f4, #4285f4, #db4437, #db4437, #f4b400, #f4b400, #0f9d58, #0f9d58, #4285f4);
}

.footer__network:nth-child(4)::after {
  background: #0077b5;
}

.footer__network:nth-child(5)::after {
  background: #4267B2;
}

.first {
  width: 100%;
  padding: 10px 10px 0 10px;
}

.first__body {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1.25fr 0.75fr;
  grid-template-columns: 1.25fr 0.75fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  border: 1px solid var(--bd-color);
  border-radius: 30px;
  padding: 10px;
  gap: 10px;
  background: var(--black-p);
}

.first__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
}

.first__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  padding: 10px;
}

.first__title {
  font-weight: 800;
  font-size: 50px;
}

.first__text {
  font-style: italic;
  font-size: 20px;
  color: var(--white-s);
}

.first__links {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
}

.first__link {
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--bd-color);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.first__link:first-child {
  background: var(--white-p);
  color: var(--black-p);
}

.first__link:first-child:hover {
  color: var(--white-p);
  background: var(--black-p);
  border: 1px solid var(--bd-color);
  letter-spacing: 0.5px;
}

.first__link:last-child {
  color: var(--white-p);
  background: var(--black-p);
}

.first__link:last-child:hover {
  letter-spacing: 0.5px;
}

.first__img {
  height: 100%;
  width: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

.first__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 20px;
}

.works {
  padding: 10px 10px 0 10px;
}

.works__body {
  border: 1px solid var(--bd-color);
  background: var(--black-p);
  border-radius: 30px;
  padding: 10px;
}

.works__title {
  padding: 10px;
}

.works__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr auto;
  padding-top: 15px;
  gap: 10px;
}

.works__see-more {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  color: var(--black-p);
  background: var(--white-p);
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.works__see-more:hover {
  color: var(--white-p);
  background: var(--black-p);
  border: 1px solid var(--bd-color);
  letter-spacing: 0.5px;
}

.item {
  padding: 10px;
}

.item__wrap {
  border: 1px solid var(--bd-color);
  border-radius: 20px;
  padding: 10px;
  background: var(--black-p);
}

.item__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
  gap: 10px;
}

.item__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.item__img {
  min-height: 50px;
  min-width: 50px;
  border-radius: 10px;
  position: relative;
  background: var(--white-p);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.item__img:hover {
  min-height: 60px;
  min-width: 60px;
  margin: 0 -10px -10px 0;
}

.item__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.item__name-site {
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  width: 100%;
}

.item__desctiption {
  font-style: italic;
  color: var(--white-s);
  padding: 10px;
}

.item__data {
  color: var(--white-s);
  padding-left: 10px;
}

.item__link {
  border-radius: 10px;
  background: var(--white-p);
  padding: 8px 20px;
  color: var(--black-p);
  border: 1px solid transparent;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item__link:hover {
  color: var(--white-p);
  background: var(--black-p);
  border: 1px solid var(--bd-color);
  letter-spacing: 0.5px;
}

.item__link:active {
  -webkit-transform: scale(0.9);
      -ms-transform: scale(0.9);
          transform: scale(0.9);
}

.portofolio {
  padding: 10px 10px 0 10px;
}

.portofolio__body {
  border: 1px solid var(--bd-color);
  background: var(--black-p);
  border-radius: 30px;
  padding: 10px;
}

.portofolio__title {
  padding: 10px;
}

.portofolio__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  padding-top: 15px;
  gap: 10px;
}

.story {
  width: 100%;
  padding: 10px 10px 0 10px;
}

.story__body {
  border: 1px solid var(--bd-color);
  padding: 20px;
  border-radius: 30px;
  background: var(--black-p);
}

.story__title {
  padding-bottom: 15px;
}

.story__text {
  color: var(--white-s);
}

.skills {
  padding: 10px 10px 0 10px;
}

.skills__body {
  border: 1px solid var(--bd-color);
  border-radius: 30px;
  background: var(--black-p);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}

.skills__title {
  padding: 10px;
}

.skills__text {
  padding: 0 10px;
  color: var(--white-s);
}

.skills__grid {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
}

.item-skills {
  border: 1px solid var(--bd-color);
  border-radius: 30px;
  background: var(--black-p);
  padding: 10px 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-skills__progress-bar::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: var(--width-progress);
  height: 100%;
  background: var(--black-s);
  z-index: -1;
}

.item-skills__text {
  z-index: 1000;
  font-weight: 800;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.item-skills:hover .item-skills__text {
  letter-spacing: 2px;
}

.photoshop {
  padding: 10px 10px 0 10px;
}

.photoshop__body {
  border: 1px solid var(--bd-color);
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  border-radius: 30px;
  background: var(--black-p);
}

.photoshop__title {
  padding: 10px;
}

.photoshop__text {
  padding: 0 10px;
  color: var(--white-s);
}

.photoshop__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  -ms-grid-columns: 1fr 1fr 1fr auto;
  grid-template-columns: 1fr 1fr 1fr auto;
  padding-top: 15px;
  gap: 10px;
}

.photoshop__see-more {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  text-orientation: mixed;
  color: var(--black-p);
  background: var(--white-p);
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  border: 1px solid transparent;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.photoshop__see-more:hover {
  color: var(--white-p);
  background: var(--black-p);
  border: 1px solid var(--bd-color);
  letter-spacing: 0.5px;
}

.item-photoshop {
  border: 1px solid var(--bd-color);
  border-radius: 20px;
}

.item-photoshop__body {
  padding: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.item-photoshop__img {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
}

.item-photoshop__img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  border-radius: 10px;
}

.item-photoshop__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-radius: 10px;
  padding: 5px;
  font-weight: 600;
}

.item-photoshop__data {
  color: var(--white-s);
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 30px 10px;
  -webkit-transition: visibility 0.8s ease 0s;
  -o-transition: visibility 0.8s ease 0s;
  transition: visibility 0.8s ease 0s;
  visibility: hidden;
  pointer-events: none;
}

.popup__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 100%;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  width: 100%;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.popup__content {
  visibility: hidden;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
  background-color: var(--black-s);
  border: 1px solid var(--bd-color);
  padding: 20px;
  width: 100%;
  max-width: 900px;
  border-radius: 30px;
}

.lock .popup__content {
  visibility: visible;
}

.popup__close {
  position: absolute;
  top: 0;
  right: 0;
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--white-p);
  background-color: var(--white-p);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.popup__close:hover {
  border: 1px solid var(--bd-color);
  background-color: var(--black-s);
}

.popup__close svg {
  height: 25px;
  width: 25px;
  color: var(--black-s);
}

.popup__close:hover svg {
  color: var(--white-p);
}

.popup__title {
  line-height: 1;
}

.popup__links {
  padding-top: 30px;
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  gap: 10px;
}

.popup__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup__icon {
  height: 30px;
  width: 30px;
  padding: 2.5px;
  color: var(--black-s);
  border-radius: 5px;
}

.popup__social {
  font-size: 20px;
}

.instagram svg {
  background: -o-radial-gradient(30% 110%, circle, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
  background: radial-gradient(circle at 30% 110%, #ffdb8b 0%, #ee653d 25%, #d42e81 50%, #a237b6 75%, #3e5fbc 100%);
}

.gmail svg {
  background: conic-gradient(#4285f4, #4285f4, #db4437, #db4437, #f4b400, #f4b400, #0f9d58, #0f9d58, #4285f4);
}

.behance svg {
  background: #053eff;
}

.upwork svg {
  background: #6fda44;
}

.upwork svg path {
  -webkit-transform: translate(0.5px, 0.5px);
      -ms-transform: translate(0.5px, 0.5px);
          transform: translate(0.5px, 0.5px);
}

.linkedin svg {
  background: #0077b5;
}

.facebook svg {
  background: #4267B2;
}

body::after {
  content: "";
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: opacity 0.8s ease 0s;
  -o-transition: opacity 0.8s ease 0s;
  transition: opacity 0.8s ease 0s;
  pointer-events: none;
  z-index: 149;
}

.popup-show body::after {
  opacity: 1;
}

.popup_show {
  z-index: 150;
  visibility: visible;
  overflow: auto;
  pointer-events: auto;
}

.popup_show .popup__content {
  visibility: visible;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}

@media (max-width: 550px) {
  .footer__links {
    font-size: 16px;
  }

  .footer__copy-right {
    font-size: 14px;
  }
}

@media (max-width: 61.99875em) {
  .first__body {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    -ms-grid-rows: auto 1fr;
    grid-template-rows: auto 1fr;
    padding: 20px;
    gap: 15px;
  }

  .first__description {
    padding: 0px;
  }

  .first__img img {
    border-radius: 10px;
  }

  .popup__links {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
}

@media only screen and (max-width: 47.99875em) {
  ::-webkit-scrollbar {
    display: none;
  }
}

@media (max-width: 47.99875em) {
  .sub-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .sub-menu__wrapper-list {
    position: relative;
    top: 0;
    opacity: 0;
    padding-top: 0px;
    width: 100%;
    margin: 0 -10px;
  }

  .sub-menu:hover .sub-menu__wrapper-list {
    opacity: 1;
    visibility: visible;
  }

  .sub-menu__sub-list {
    background: transparent;
    border-radius: 0px;
  }

  .sub-menu__sub-link {
    color: var(--white-p);
    text-align: center;
    border-radius: 0;
    font-size: 20px;
  }

  .icon-menu {
    height: 40px;
    width: 40px;
    margin-left: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 50px;
    cursor: pointer;
    background: var(--white-p);
    position: relative;
  }

  .icon-menu .icon-menu-svg {
    pointer-events: none;
    color: var(--black-p);
    height: 25px;
    width: 25px;
    position: absolute;
    top: 7.5px;
    left: 7.5px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }

  .icon-menu .icon-menu-one {
    opacity: 1;
  }

  .icon-menu .icon-menu-svg-two {
    opacity: 0;
  }

  .menu-open .icon-menu .icon-menu-one {
    opacity: 0;
  }

  .menu-open .icon-menu .icon-menu-svg-two {
    opacity: 1;
  }

  .menu {
    position: relative;
  }

  .menu__body {
    position: fixed;
    top: 70px;
    left: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    padding: 0 10px;
    opacity: 0;
    visibility: hidden;
  }

  .menu__list {
    height: auto;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    background: transparent;
    border: 1px solid var(--bd-color);
    border-radius: 30px;
    padding: 10px;
    background: var(--black-p);
  }

  .menu__item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .menu__link {
    font-size: 22px;
    color: var(--white-p);
  }

  .menu__link:hover {
    background: transparent;
  }

  .menu-open .menu__body {
    opacity: 1;
    visibility: visible;
    top: 80px;
  }

  .header-contacts__link::after {
    content: "";
    height: 40px;
    width: 40px;
    opacity: 1;
  }

  .header-contacts__link svg {
    color: var(--black-p);
  }

  .header__logo {
    height: 40px;
    min-width: 80px;
    margin-right: -40px;
  }

  .header__logo:active {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  .header__img-1 {
    visibility: visible;
    opacity: 1;
  }

  .header__img-2 {
    visibility: hidden;
    opacity: 0;
  }

  .footer__row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }

  .footer__networks {
    display: -ms-grid;
    display: grid;
    gap: 10px;
    -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
    grid-template-rows: 1fr;
  }

  .footer__network {
    margin: 0;
    width: auto;
  }

  .footer__network::after {
    width: 100%;
    min-width: 40px;
  }

  .footer__network::before {
    width: 100%;
    min-width: 40px;
  }

  .footer__network svg {
    color: var(--black-s);
  }

  .footer__wrapper-links {
    height: auto;
    padding: 0;
    border: 0;
  }

  .footer__title {
    display: none;
  }

  .footer__links {
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .footer__link {
    white-space: nowrap;
  }

  .works {
    padding: 10px;
  }

  .works__body {
    padding: 20px;
  }

  .works__title {
    padding: 10px;
  }

  .works__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .works__see-more {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }

  .story {
    width: 100%;
  }

  .story__body {
    padding: 20px;
  }

  .story__title {
    padding-bottom: 15px;
  }

  .story__text {
    color: var(--white-s);
  }

  .skills__body {
    padding: 20px;
  }

  .photoshop {
    padding: 10px;
  }

  .photoshop__body {
    padding: 20px;
  }

  .photoshop__title {
    padding: 10px;
  }

  .photoshop__grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr 1fr auto;
    grid-template-rows: 1fr 1fr 1fr auto;
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    gap: 15px;
  }

  .photoshop__see-more {
    -webkit-writing-mode: horizontal-tb;
        -ms-writing-mode: lr-tb;
            writing-mode: horizontal-tb;
  }
}

@media (max-width: 29.99875em) {
  .footer__links {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: 20px;
    padding: 10px;
    border: 1px solid var(--bd-color);
    background: var(--black-p);
  }

  .footer__copy-right {
    font-size: 14px;
  }

  .footer__link {
    border-radius: 10px;
    color: var(--white-p);
  }

  .footer__link:hover {
    background: var(--white-p);
    color: var(--black-p);
  }
}